
body {
    background-color: #ffffff; 
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px; /* Add margin-bottom for space */
    font-size: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    padding: 5px;
}

section#articles {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 500px; /* Add margin-top for space */
   
}

.article {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    background-color: #e8eaeb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.article:hover {
    transform: translateY(-5px);
}

.article img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 50px;
}

.article h2 {
    margin-top: 10px;
    padding: 10px;
    font-size: 8px;
    color: #333333;
}

.navbar {
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333333;
}

.navbar-nav .nav-link:hover {
  color: #e1e9f2;
}

.navbar-toggler-icon {
  background-color: #333333;
}

.navbar-toggler {
  border-color: #333333;
}

@media (max-width: 576px) {
  .navbar-nav {
    background-color: #ffffff;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 5px;
  }
}

footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}
